ENEO-PROJET.json
{
  "name": "ENEO-PROJET",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commande",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        352
      ],
      "id": "d8bd18d9-0d63-4dfd-8dda-70fe59ae1ace",
      "name": "Webhook",
      "webhookId": "072afaa6-2720-40b4-82ad-bcad4526d3ba"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08e5dc01-ff1d-429e-9652-f8a68b40790c",
              "leftValue": "={{ $json.body.fournisseur }}",
              "rightValue": "ENEO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        128
      ],
      "id": "64c662a3-7f7d-4e64-a5fa-6e1eb980679f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d2e67df-3cd2-4d0d-bda1-e5d2ddb41a75",
              "name": "valide",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "05e333e0-b27c-4337-9411-a939fbb2c7f2",
              "name": "date_validation",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "a61c5a2f-7341-468f-b6ff-cebda4be98cb",
              "name": "Agent",
              "value": "Audrey",
              "type": "string"
            },
            {
              "id": "aef002a6-f0be-47bf-9d38-ab8275ca93a8",
              "name": "commande_id",
              "value": "={{ $json.body.commande_id }}",
              "type": "string"
            },
            {
              "id": "0e3c2e37-242a-4e42-bc8a-e8ca473e2c72",
              "name": "client",
              "value": "={{ $json.body.client.nom }}",
              "type": "string"
            },
            {
              "id": "46d25861-1e58-423f-85f5-30c457a66347",
              "name": "e-mail",
              "value": "={{ $json.body.client.email }}",
              "type": "string"
            },
            {
              "id": "715deb95-f609-430f-98ff-a3b92a0ffcca",
              "name": "produit",
              "value": "={{ $json.body.produit }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        112
      ],
      "id": "3ac3c73a-b05a-486d-890c-7d955b004dd0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "templateId": {
          "__rl": true,
          "value": "1542025",
          "mode": "list",
          "cachedResultName": "Invoice Example (ID: 1542025)"
        },
        "data": "={{ $json.body }}",
        "documentOutput": "url",
        "additionalFields": {}
      },
      "type": "@pdfgeneratorapi/n8n-nodes-pdf-generator-api.pdfGeneratorApi",
      "typeVersion": 1,
      "position": [
        240,
        352
      ],
      "id": "f33da0a6-cef1-47d9-9e21-4cc9aeecd3d8",
      "name": "Generate a PDF document"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.client.email }}",
        "subject": "Invoice for command",
        "message": "=<a href=\"{{ $json.response }}\"> Download Invoice</a>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        352
      ],
      "id": "8569080a-ee8e-48de-807a-6f627496abd0",
      "name": "Send a message",
      "webhookId": "5e69391a-03ec-4720-ab2e-77f030230c83"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "175",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-type": "application/json",
            "accept": "*/*",
            "origin": "chrome-extension://gmmkjpcadciiokjpikmkkmapphbmdjok",
            "sec-fetch-site": "none",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "sec-fetch-storage-access": "active",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "fr-FR,fr;q=0.9,en;q=0.8,en-US;q=0.7"
          },
          "params": {},
          "query": {},
          "body": {
            "commande_id": "CMD-2025-001",
            "fournisseur": "ENEO",
            "client": {
              "nom": "M. Dupont",
              "email": "dupont@example.com"
            },
            "produit": "Compteur électrique"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/commande",
          "executionMode": "test"
        }
      }
    ],
    "Generate a PDF document": [
      {
        "json": {
          "response": "https://us1.pdfgeneratorapi.com/api/v4/documents/76573/a052cc4c19c8b82ae0e0a5d3fc8b78ff/share",
          "meta": {
            "name": "968567f64f7b33cc7ed841d095c0a1b1.pdf",
            "display_name": "968567f64f7b33cc7ed841d095c0a1b1",
            "encoding": "binary",
            "content-type": "application/pdf",
            "public_id": "a052cc4c19c8b82ae0e0a5d3fc8b78ff"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate a PDF document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a PDF document": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "060e0917-507f-4b03-a83b-34e707498277",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2166150b973418944e84c9200f2499fdd93d0eb5b2573f7b6ed9bc1a5ca7944"
  },
  "id": "VfK0rKdE1cjYJPQb",
  "tags": []
}